<h1> Cats attributes </h1>

<table>
  <tr>
    <th>Name:</th> <td> <%= @cat.name %> </td>
  </tr>
    <th>Age:</th> <td> <%= @cat.age %> </td>
  </tr>
    <th>Birth Date:</th> <td> <%= @cat.birth_date %> </td>
  </tr>
    <th>Gender:</th> <td> <%= @cat.sex %> </td>
  </tr>
    <th>Color:</th> <td> <%= @cat.color %> </td>
  </tr>
    <th>Description:</th> <td> <%= @cat.description %> </td>
  </tr>
</table>
